html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



.link-underline {
    border-bottom: 2px solid transparent;
    transition: border-color 0.2s ease-in-out;
    cursor: pointer;
    margin: 0 10px;
    text-align: center;
}

    .link-underline:hover {
        border-color: #2211bb;
    }


.normal-text {
    text-decoration: none;
    color: black !important;
}

.card {
    transition: transform 0.3s ease;
}
.card:hover{
    transform: scale(1.05);
}

/*.card-link{
    position:absolute;
    top: 0;
    bottom: 0;
    z-index:10;
}*/